/* div{
    width: 100%;
    height: 100px;
    background-color: whitesmoke;
    border-radius: 0px;
} */
  
button{
    vertical-align: middle;
    margin-left: 100px;
    margin-right: 100px;
    height: 50px;
    width: 100px;
    background-image: linear-gradient(to right, #11998e,#38ef7d);
    border-radius: 10px;
    font-weight: bolder;
    font-family: sans-serif;
}

Link{
    color: white;
}

#input_feild{
    margin-top: 50px;
    margin-bottom: 50px;
}