.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dialog-box{
  background-color: black;
  height:800px;
  width: 800px;
  margin-top: 70px;
  margin-left: 30%;
  border-radius:30px;
  opacity: 0.8;
}

.dialog-title{
  
  color: orange;
  font-weight: bolder;
  margin-top: 20px;
}

h2{
  color: orange;
  
  
}

input{
  /* margin-left: 50px; */
  height: 40px;
  width: 250px;
  border-radius: 10px;
  /* color: grey; */
  background-color: white;
  align-self: center;
}

body{
  background-image: url('asset/background.jpg');
  font-family: 'Times New Roman', Times, serif;
}

#search{
  height: 70px;
  width: 700px;
  margin-top:10px;
  border-radius:7px;
  background-color: orange;
}

h3{
  
  color: green;
}